.navbar {
    background-color: #333333 !important;
}

.sidebar{
    padding:0px !important;
    background-color: #666666;
    height: calc(100vh - 2.5rem);
}

.list-group-item{
    background-color: transparent !important;
    border: 0px !important;
}

.whitefont{
    color: white !important;
}